.cards-grid {
    display:grid;
    padding-block:2.5rem;
    grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
    gap: 4rem;
    justify-content: space-between;
    content-visibility: auto;

}