.home{
    max-width: 90%;
    margin: auto;
    padding-top: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;    
}

.cards-grid{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
    gap: 4rem;
    justify-content: space-between;
    padding-block: 1rem;
}

