:root{
  --clr-darkmode-element:hsl(209,23%,22%);
  --clr-darkmode-background:hsl(207,26%,17%);
  --clr-darkmode-text:hsl(0,0%,100%);

  --clr-lightmode-element:hsl(0,0%,100%);
  --clr-lightmode-background:hsl(0,0%,98%);
  --clr-lightmode-text:hsl(200,15%,8%);

  --clr-lightmode-input:hsl(0,0%,52%);
  --fs-home:14px;
  --fs-details:16px;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

/* Remove default margin */

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
.App {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input{
  border: none;
  outline: none;
  background-color: transparent;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}