.country__details__wrapper {
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.btn-back {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 6px 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
    background-color: var(--clr-element);
    border-radius: 5px;
    gap: 8px;
}

.btn-back>span {
    font-size: var(--fs-details);
    font-weight: 600;
}

.country__details__flag {
    width:100%;
    max-width:600px
}
.country__details__name {
    margin-bottom: 1rem;
}
.country__details {
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}

.middle{
    display:flex;
    flex-wrap: wrap;
    gap:1.5rem;
    margin-bottom: 1rem;
}
.detail {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.detail>.oppa {
    opacity: 60%;
    font-weight: 600;
}
.bottom {
    display: flex;
    flex-wrap: wrap;
}
.borders__wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.border-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 6px 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--clr-element);
}
@media (min-width: 1080px) {
    .country__details{
        flex-direction: row;
        gap: 2rem;
        width: 100%;
        /* justify-content: space-between; */
    }
    .middle{
        justify-content: space-between;
        width: 100%;
    }
}